<h1>Data Science Tools and Ecosystem</h1>

<h4>In this notebook, Data Science Tools and Ecosystem are summarized</h4>

#### Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R- R

#### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Plotly

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Zeppelin    |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python.

Here are some examples of arithmetic expressions:

##### Addition
result_a = 5 + 3
print("5 + 3 =", result_a)

##### Subtraction
result_s = 10 - 4
print("10 - 4 =", result_s)

##### Multiplication
result_m = 7 * 6
print("7 * 6 =", result_m)

##### Division
result_d = 20 / 5
print("20 / 5 =", result_d)

##### Exponentiation
result_e = 2 ** 3
print("2 ** 3 =", result_e)

##### Modulus
result_m = 15 % 5
print("15 % 5 =", result_m)

In [4]:
m= (3*4) + 5
print(m)
#This is a simple arithmetic expression to multiply then add integers

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

- Listar lenguajes populares
- Hacer tablas con Markdown
- Ejemplos de ejercicios aritmeticos
- Convertir minutos a horas
- Poner entornos de desarrollo

<h2>Author</h2>
Janely GÃ³mez Villa